body {
  margin: 2em;
}

main {
  display: grid;
  /* grid-template-columns: 100px 1fr 2fr 1fr 2fr 1fr 2fr 1.5fr; */
  
  grid-template-columns: 100px repeat(3, 1fr 2fr) 1.5fr;

  height: calc(100vh - 2em);
  grid-template-rows: 15fr 10fr 10fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  background-color: hsla(190, 40%, 80%, 1);
}