* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "brand brand brand support"
    "..... main  main  support"
    "..... main  main  etc";
}

main div {
  border: 5px solid hsla(187, 70%, 30%, 1);
  border-radius: 30px;
  background-color: hsla(187, 90%, 30%, 0.6);
  padding: 1.5em;
  color: white;
  font-family: sans-serif;
  font-size: 120%;
  font-weight: bold;
}

main div:nth-child(odd) {
  background-color: hsla(50, 90%, 30%, 0.8);
  border-radius: 3px;
}

main div:nth-child(1) {
  grid-area: brand;
}

main div:nth-child(2) {
  grid-area: main;
}

main div:nth-child(3) {
  grid-area: support;
}

main div:nth-child(4) {
  grid-area: etc;
}